<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <billmate_invoice>
                <payment_action>capture</payment_action><!-- You can use another methor like capture  -->
                <model>Billmate\Billmate\Model\PaymentMethod</model>
                <active>1</active>
                <title>Billmate Faktura</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </billmate_invoice>
			<billmate_card>
                <payment_action>capture</payment_action><!-- You can use another methor like capture  -->
                <model>Billmate\Billmate\Model\Card</model>
                <active>1</active>
                <title>Billmate Kort</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </billmate_card>
			<billmate_partpay>
                <payment_action>capture</payment_action><!-- You can use another methor like capture  -->
                <model>Billmate\Billmate\Model\PartPay</model>
                <active>1</active>
                <title>Billmate Delbetalning</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </billmate_partpay>
			<billmate_bank>
                <payment_action>capture</payment_action><!-- You can use another methor like capture  -->
                <model>Billmate\Billmate\Model\Bank</model>
                <active>1</active>
                <title>Billmate Bank</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </billmate_bank>
        </payment>
    </default>
</config>