.billmate-checkout-table-head{
    font-size:14px;
    color:#7c7c7c;
    font-family: 'Open Sans', sans-serif;
    font-weight:900 !important;
    margin-bottom:10px;
    border-bottom: 4px solid rgb(214, 210, 210);
    padding-bottom: 10px;
}
.billmate-checkout-price{
    margin-top: -20px;
    margin-left: 54%;
    color:#7c7c7c;
	font-weight: bold;
}
.billmate-checkout-price-head{
    margin-top: -20px;
    margin-left: 54%;
}
.billmate-checkout-qty{
    margin-top: -20px;
    margin-left: 72%;
}
.billmate-checkout-qty-head{
    margin-top: -20px;
    margin-left: 73%;
}
.billmate-checkout-sum{
    margin-top: -50px;
    margin-left: 85%;
    color:#7c7c7c;
	font-weight: bold;
}
.billmate-checkout-sum-head{
    margin-top: -20px;
    margin-left: 85%;
    color:#7c7c7c;
}
.billmate-checkout-name{
    margin-top:40px;
    font-size:14px;
    color:#000;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}
.billmate-checkout-line{
    border-top:2px solid #d0d3d4;
    width:700px;
}
.billmate-checkout-img{
    float:left;
}
.billmate-checkout-discount{
    margin-top: -123px;
}

.totals{
    margin-top:10px;
    width:52.5%;
    color:#7c7c7c;
    float: right;
	font-weight: bold;
}

td .name{
    margin-left:365px;
}

h1{
    font-size:14px !important;
    margin:10px 0px 10px!important;
    color:#7c7c7c !important;
    font-weight:700;
}

.inc {
    padding: 0px;
}

.sub {
    padding: 0px;
}

div.checkout {
    width: 100%;
    float: right;
}

div.column.main{
    display:none;
}

button.inc {
    width: 35px;
    height: 37px;
    color:#000;
    background-color:#fff;
    margin-top: -59px;
    margin-left: 44px;
	border: 1px solid #f3f3f3;
	  border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    font-weight:bold;
    font-size: 24px;
}

button.sub {
    width: 35px;
    height: 37px;
    color:#000;
    background-color:#fff;	
    margin-top:-9px;
    margin-left: -25px;
	border: 1px solid #f3f3f3;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    font-weight:bold;
    font-size: 25px;
} 
.billmate-checkout-product-qty{
    height:17px;
    width:19px;
    background-color:#f3f3f3;
    padding:10px 12px 10px;
    margin-top: -37px;
    margin-left:10px;
	font-weight: bold;
}
.bm-cart-wrapper{
    padding-left: 0px;
    padding-right: 0px;
    
    
}

.billmate-cart-table th{
    font-size:14px;
    color:#7c7c7c;
    font-family: 'Open Sans', sans-serif;
    width:718px;
    text-align:right;
}

@media (max-width: 500px){
    .bm-cart-wrapper{
        width:33%;
        margin-left: 10px;
        align-self: center;
    }
}
div.checkout{
    margin-top:1000px !important;
}


.billmate-cart-table tr{
    padding:10px;
}
.billmate-checkout-button-del {
    height:20px;
    width:15px;
    background-color:#fff;
    background-image:url(../img/span.png);
    float:right;
    margin-top:-22px;
    cursor:pointer;
}

#code{
    width:183px;
    height:26px;
    border-radius:3px;
}
#codeButton{
    width:136px;
    height:26px;
    border-radius:3px;
    background-color:#06A1DC;
    color:#fff;
    border:none;
    font-weight:bold;
    margin-left:10px;
}
#codeButton:hover {
    background-color: #00aeef;
}

/*Custom*/
.billmate-checkout-name span {
    display: block;
}
div.bm-cart-wrapper{
    margin:0 auto;
    width: 750px;
}
div#billmate-cart{
    padding-left: 15px;
    padding-right: 15px;
}
iframe#checkout {
    margin-top: 20px;
}
.billmate-checkout-table-head{
    border-bottom: 2px solid #7c7c7c;
    padding-bottom: 10px;
}
.billmate-checkout-product-row {
    width: 100%;
    padding: 10px 0px;
    float: left;
    border-bottom: 1px solid #7c7c7c;
    margin-bottom: 15px;
	min-height: 50px;
}
.billmate-checkout-product-row .billmate-checkout-name{
    margin-top: 0;
    float: left;
}
.billmate-checkout-price {
    margin-top: 10px;
}
.billmate-checkout-product-row .billmate-checkout-name span {
    font-size: 14px;
    color: #7c7c7c;
    font-weight: 400;
	width: 300px; 
    word-wrap: break-word;
}
.billmate-checkout-product-row .billmate-checkout-name p{
    margin-bottom: 2px;
	width: 270px;
} 
table.totals td {
    padding: 3px 10px;
}
.billmate-checkout-cart-table {
    float: left;
    width: 100%;
}
.billmate-checkout-discount #code{
    border-color: #e2e2e2;
    height: 35px;
}
.billmate-checkout-discount #codeButton{
    height: 35px;
    margin-left: 0px;
}
.checkoutWrapper #testMode{
    background-color: #f4f8fb !important;
    color: #737373;
}
.billmate-checkout-discount {
    margin-top: 0px;
    float: left;
    margin-bottom: 0px;
	width: 45%;
    padding-bottom: 10px;
}
.billmate_shipping_methos {
    width: 100%;
    float: left;
	font-weight: bold;
}
.billmate-checkout-img img {
    min-width: 80px;
}
.billmate-checkout-img {
    padding-right: 10px;
}
.billmate_shipping_methos .ship_methods .radio{
    display: none;
}
.billmate_shipping_methos .ship_methods .radio + label {
    float: left;
    width: 100%;
}
.billmate_shipping_methos .ship_methods .radio + label:before {
    content: "";
    height: 10px;
    width: 10px;
    border: 3px solid #c5edf7;
    margin-right: 10px;
    margin-top: 1px;
    display: inline-block;
    background-color: #c5edf7;
    border-radius: 50%;
    float: left;
}
.billmate_shipping_methos .ship_methods .radio:checked + label:before{
    background-color: #7c7c7c;
}
.billmate-checkout-product-row .billmate-checkout-name ,.billmate-checkout-sum ,.billmate-checkout-price{
    font-size: 16px;
	
}
table.totals td.price {
    text-align: justify;
    text-align-last: right;
}
table.totals td.name {
    padding-left: 50px;
}
@media screen and (min-width: 992px){
    
}
@media screen and (max-width: 991px){
    div.bm-cart-wrapper{
        width: 750px;
    }
    .billmate-checkout-product-row .billmate-checkout-name,.billmate-checkout-sum ,.billmate-checkout-price{
        font-size: 16px;
    }
    table.totals td.name {
        padding-left: 40px;
    }
}
.area{
	left:-37%;
	position:relative;
	padding:0;
	} 
@media screen and (max-width: 767px){
    div.bm-cart-wrapper{
        width: 100%;
    }
    .billmate-checkout-discount #codeButton{
        margin-top: 10px;
    }
    .billmate-checkout-product-row .billmate-checkout-name, .billmate-checkout-sum ,.billmate-checkout-price{
        font-size: 14px;
    }
	.table-responsive{
		border:0;
	}
	.billmate-checkout-qty-head {
    margin-top: -20px;
    margin-left: 68%;
}
.billmate-checkout-qty {
    margin-top: 20px; 
    margin-left: 66%;
}
.billmate-checkout-sum-head {
    /* margin-top: 20px; */
    margin-left: 80%;
    color: #7c7c7c;
}
.billmate-checkout-sum {
    margin-top: -51px;
    margin-left: 80%;
    color: #7c7c7c;
}
.billmate-checkout-product-row .billmate-checkout-name p {
    margin-bottom: 2px;
    width: 190px;
    word-wrap: break-word;
    /* top: 0px; */
}
.billmate-checkout-product-row .billmate-checkout-name span {
    font-size: 14px;
    color: #7c7c7c;
    font-weight: 400;
    width: 270px;
    word-wrap: break-word;
}
.billmate-checkout-price-head {
    display: none;
}
.billmate-checkout-price{display: none;}

.billmate-checkout-del-but {
margin-top: 0;

}
.area{
position:relative;
	left: -31%;
	}
	.totals{
	width:43.5%;
	}
}

@media screen and (max-width: 680px){
    #billmate-cart .totals, .billmate-checkout-discount{
        width: 100%;
        margin-bottom: 15px;
        }
	.billmate-checkout-qty {
		position: absolute;
		bottom: 0;
		left: 40px;
		margin: 5px;
	}
	.billmate-checkout-product-row{
		padding-bottom: 70px;
		position: relative;
	}
	.billmate-checkout-price {
		position: absolute;
		margin: 0;
		bottom: 0;
		right: 0;
	}

	.billmate-checkout-del-but {
		float: right;
		display: block;
		height: auto;
		margin-top: 0;
		margin-right: 10px;
	} 
	.billmate-checkout-button-del {            
		margin-top: 0;
	}
	.billmate-checkout-sum {
		position: absolute;
		margin: 0 !important;
		bottom: 20px;
		right: 10px;
	}

	.billmate-checkout-table-head > div{
		display: none;
	}
	.billmate-checkout-img img{
		min-width: 110px;
	}
	.billmate-checkout-price-head{
		display:none;
	}
	.billmate-checkout-price{
		display:none;
	}
	table.totals td.name {
		padding-left: 0px;
	}
	.table-responsive{
		border:0;
	}
	.billmate-checkout-product-row .billmate-checkout-name span{
		font-size: 14px;
		color: #7c7c7c;
		font-weight: 400;
		width: 270px;
		word-wrap: break-word;
	}
	.billmate-checkout-product-row .billmate-checkout-name p {
		margin-bottom: 2px;
		width: 286px;
	}
    
	.area{
		position:relative;
		left: -62%;
	} 
}
	